* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #DCF2F1;
    padding: 50px;
    font-size: 60px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 20px 0;
    background-color: #7FC7D9;
    height: 350px;
}

img {
    width: 235px;
    height: auto;
    border: 3px solid black;
    border-radius: 50%;
}

.score, #resultContainer, #displayWinner {
    background-color: #365486;
}

.score {
    display: flex;
    justify-content: center;
    gap: 80px;
    font-size: 40px;
    height: 200px;
}

#playerScoreContainer, #computerScoreContainer {
    display: flex;
    align-items: center;
    font-weight: 600;
}

#resultContainer, #displayWinner {
    display: flex;
    justify-content: center;
    align-items: center;
}

#resultContainer {
    font-size: 35px;
    padding: 20px 0;
}

#displayWinner {
    font-size: 40px;
    padding: 15px 0 30px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    font-size: 30px;
    background-color: #0F1035;
    color: whitesmoke;
}